:root{
    --pink:#e84393;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline:none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top:0; left:0;right: 0;
    background:plum;
    padding: 2rem 9%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000 ;
    box-shadow:0.5rem 1 rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink)
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}



header .navbar a:hover{
    color:var(--pink);
}
section{
    padding:3rem;
    color: black;
}
.home{
    display:flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/flow.jpg);
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 55rem;
}
.home .content h2{
    font-size: 7rem;
    color:#666;
}
.home .content span{
    font-size: 3rem;
    color:var(--pink) ;
    padding: 1.5rem 0;
    line-height: normal;
}
.home .content p{
    font-size: 1.5rem;
    color:black;
    padding: 1rem;
    line-height: 1.5;
}
.button{
    display: inline-block;
    margin-top: 2rem;
    border-radius: 4rem;
    background: #333;
    color: aliceblue;
    padding: 3rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.button:hover{
    background: var(--pink);
}
.heading{
    text-align: center;
    font-size:4rem ;
    color:#333;
    padding:1rem;
    margin: 3rem 0;
    background: rgba(0,0,0,.1);
}
.heading span{
    color: var(--pink);
    text-align: justify;
}
.about{
    display:flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/flowas.jpeg);
    background-size: cover;
    background-position: center;
}
.content p{
    font-size:2rem;
    color:black;
}
.content h2{
    color: plum;
    font-size:5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.products .box-container{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:1rem solid rgba(0,0,0,.1);
    position:relative;
}
.products .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:7rem  1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 1.5rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box:hover .image img{
    transform: scale(1.3);
    cursor: pointer;
}






























@media (max-with:900px){

    html{
        font-size: 55%;
    }

    header{
        padding: 3rem;
    }
}

@media (max-width:800px){
    header .navbar{
        position: absolute;
        top:100%;left:0;right:0;
        background: pink;
        border-top: .2rem solid rgba(0,0,0,.1);
    }
    header .navbar a {
       margin: 1.5rem;
       padding: 2rem;
       background: pink;
       border:2rem solid rgba(0,0,0,.1);
       display: block;
    }
}